<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.textbook.mapper.BookPersonalApplyMapper">

    <resultMap type="BookPersonalApply" id="BookPersonalApplyResult">
        <result property="applyId"    column="apply_id"    />
        <result property="applyNo"    column="apply_no"    />
        <result property="teacherId"  column="teacher_id"  />
        <result property="teacherName"  column="teacher_name"  />
        <result property="textbookId"  column="textbook_id"  />
        <result property="isbn"       column="isbn"       />
        <result property="bookName"   column="book_name"   />
        <result property="applyQty"   column="apply_qty"   />
        <result property="purpose"    column="purpose"     />
        <result property="status"     column="status"      />
        <result property="auditOpinion" column="audit_opinion" />
        <result property="auditBy"    column="audit_by"    />
        <result property="auditTime"  column="audit_time"  />
        <result property="issueTime"  column="issue_time"  />
        <result property="createBy"   column="create_by"   />
        <result property="createTime" column="create_time" />
        <result property="updateBy"   column="update_by"   />
        <result property="updateTime" column="update_time" />
        <result property="delFlag"    column="del_flag"    />
        <result property="remark"     column="remark"      />
    </resultMap>

    <sql id="selectBookPersonalApplyVo">
        select apply_id, apply_no, teacher_id, teacher_name, textbook_id, isbn, book_name, apply_qty, purpose,
               status, audit_opinion, audit_by, audit_time, issue_time, create_by, create_time, update_by, update_time,
               del_flag, remark
        from book_personal_apply
    </sql>

    <select id="selectBookPersonalApplyList" parameterType="BookPersonalApply" resultMap="BookPersonalApplyResult">
        <include refid="selectBookPersonalApplyVo"/>
        <where>
            del_flag = '0'
            <if test="applyNo != null and applyNo != ''"> AND apply_no like concat('%', #{applyNo}, '%')</if>
            <if test="teacherName != null and teacherName != ''"> AND teacher_name like concat('%', #{teacherName}, '%')</if>
            <if test="isbn != null and isbn != ''"> AND isbn like concat('%', #{isbn}, '%')</if>
            <if test="bookName != null and bookName != ''"> AND book_name like concat('%', #{bookName}, '%')</if>
            <if test="status != null and status != ''"> AND status = #{status}</if>
            <if test="params.beginTime != null and params.beginTime != ''"> AND date_format(create_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')</if>
            <if test="params.endTime != null and params.endTime != ''"> AND date_format(create_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')</if>
        </where>
        order by create_time desc
    </select>

    <select id="selectMyApplyList" parameterType="BookPersonalApply" resultMap="BookPersonalApplyResult">
        <include refid="selectBookPersonalApplyVo"/>
        <where>
            del_flag = '0' AND teacher_id = #{teacherId}
            <if test="status != null and status != ''"> AND status = #{status}</if>
            <if test="params.beginTime != null and params.beginTime != ''"> AND date_format(create_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')</if>
            <if test="params.endTime != null and params.endTime != ''"> AND date_format(create_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')</if>
        </where>
        order by create_time desc
    </select>

    <select id="selectBookPersonalApplyById" parameterType="Long" resultMap="BookPersonalApplyResult">
        <include refid="selectBookPersonalApplyVo"/>
        where apply_id = #{applyId} and del_flag = '0'
    </select>

    <insert id="insertBookPersonalApply" parameterType="BookPersonalApply" useGeneratedKeys="true" keyProperty="applyId">
        insert into book_personal_apply (
            <if test="applyNo != null and applyNo != ''">apply_no,</if>
            <if test="teacherId != null">teacher_id,</if>
            <if test="teacherName != null and teacherName != ''">teacher_name,</if>
            <if test="textbookId != null">textbook_id,</if>
            <if test="isbn != null">isbn,</if>
            <if test="bookName != null and bookName != ''">book_name,</if>
            <if test="applyQty != null">apply_qty,</if>
            <if test="purpose != null">purpose,</if>
            status,
            <if test="createBy != null and createBy != ''">create_by,</if>
            create_time
        )values(
            <if test="applyNo != null and applyNo != ''">#{applyNo},</if>
            <if test="teacherId != null">#{teacherId},</if>
            <if test="teacherName != null and teacherName != ''">#{teacherName},</if>
            <if test="textbookId != null">#{textbookId},</if>
            <if test="isbn != null">#{isbn},</if>
            <if test="bookName != null and bookName != ''">#{bookName},</if>
            <if test="applyQty != null">#{applyQty},</if>
            <if test="purpose != null">#{purpose},</if>
            '0',
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            sysdate()
        )
    </insert>

    <update id="updateBookPersonalApply" parameterType="BookPersonalApply">
        update book_personal_apply
        <set>
            <if test="auditOpinion != null">audit_opinion = #{auditOpinion},</if>
            <if test="auditBy != null and auditBy != ''">audit_by = #{auditBy},</if>
            <if test="auditTime != null">audit_time = #{auditTime},</if>
            <if test="issueTime != null">issue_time = #{issueTime},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            update_time = sysdate()
        </set>
        where apply_id = #{applyId}
    </update>

    <delete id="deleteBookPersonalApplyByIds" parameterType="String">
        update book_personal_apply set del_flag = '2' where apply_id in
        <foreach item="applyId" collection="array" open="(" separator="," close=")">
            #{applyId}
        </foreach>
    </delete>

    <delete id="deleteBookPersonalApplyById" parameterType="Long">
        update book_personal_apply set del_flag = '2' where apply_id = #{applyId}
    </delete>

</mapper>
