<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.textbook.mapper.TbPendingPurchaseMapper">
    
    <resultMap type="com.ruoyi.textbook.domain.TbPendingPurchase" id="TbPendingPurchaseResult">
        <result property="pendingId"    column="pending_id"    />
        <result property="pendingNo"    column="pending_no"    />
        <result property="shortageId"   column="shortage_id"   />
        <result property="bookId"    column="book_id"    />
        <result property="bookName"  column="book_name"  />
        <result property="isbn"      column="isbn"       />
        <result property="author"    column="author"     />
        <result property="publisher" column="publisher"  />
        <result property="price"     column="price"      />
        <result property="purchaseQuantity" column="purchase_quantity" />
        <result property="status"    column="status"     />
        <result property="supplier"  column="supplier"   />
        <result property="expectedDate" column="expected_date" />
        <result property="remark"    column="remark"     />
        <result property="createBy"  column="create_by"  />
        <result property="createTime" column="create_time" />
        <result property="updateBy"  column="update_by"  />
        <result property="updateTime" column="update_time" />
        <result property="delFlag"   column="del_flag"   />
    </resultMap>

    <sql id="selectTbPendingPurchaseVo">
        select pending_id, pending_no, shortage_id, book_id, book_name, isbn, author, publisher, price, purchase_quantity, status, supplier, expected_date, remark, create_by, create_time, update_by, update_time, del_flag from tb_pending_purchase
    </sql>

    <select id="selectTbPendingPurchaseList" parameterType="com.ruoyi.textbook.domain.TbPendingPurchase" resultMap="TbPendingPurchaseResult">
        <include refid="selectTbPendingPurchaseVo"/>
        <where>  
            del_flag = '0'
            <if test="pendingNo != null and pendingNo != ''">
                AND pending_no = #{pendingNo}
            </if>
            <if test="bookId != null">
                AND book_id = #{bookId}
            </if>
            <if test="bookName != null and bookName != ''">
                AND book_name like concat('%', #{bookName}, '%')
            </if>
            <if test="status != null and status != ''">
                AND status = #{status}
            </if>
            <if test="supplier != null and supplier != ''">
                AND supplier like concat('%', #{supplier}, '%')
            </if>
        </where>
        order by create_time desc
    </select>

    <select id="selectTbPendingPurchaseByPendingId" parameterType="Long" resultMap="TbPendingPurchaseResult">
        <include refid="selectTbPendingPurchaseVo"/>
        where pending_id = #{pendingId} and del_flag = '0'
    </select>

    <insert id="insertTbPendingPurchase" parameterType="com.ruoyi.textbook.domain.TbPendingPurchase" useGeneratedKeys="true" keyProperty="pendingId">
        insert into tb_pending_purchase
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pendingNo != null and pendingNo != ''">pending_no,</if>
            <if test="shortageId != null">shortage_id,</if>
            <if test="bookId != null">book_id,</if>
            <if test="bookName != null">book_name,</if>
            <if test="isbn != null">isbn,</if>
            <if test="author != null">author,</if>
            <if test="publisher != null">publisher,</if>
            <if test="price != null">price,</if>
            <if test="purchaseQuantity != null">purchase_quantity,</if>
            <if test="status != null">status,</if>
            <if test="supplier != null">supplier,</if>
            <if test="expectedDate != null">expected_date,</if>
            <if test="remark != null">remark,</if>
            <if test="createBy != null">create_by,</if>
            create_time
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="pendingNo != null and pendingNo != ''">#{pendingNo},</if>
            <if test="shortageId != null">#{shortageId},</if>
            <if test="bookId != null">#{bookId},</if>
            <if test="bookName != null">#{bookName},</if>
            <if test="isbn != null">#{isbn},</if>
            <if test="author != null">#{author},</if>
            <if test="publisher != null">#{publisher},</if>
            <if test="price != null">#{price},</if>
            <if test="purchaseQuantity != null">#{purchaseQuantity},</if>
            <if test="status != null">#{status},</if>
            <if test="supplier != null">#{supplier},</if>
            <if test="expectedDate != null">#{expectedDate},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createBy != null">#{createBy},</if>
            sysdate()
        </trim>
    </insert>

    <update id="updateTbPendingPurchase" parameterType="com.ruoyi.textbook.domain.TbPendingPurchase">
        update tb_pending_purchase
        <trim prefix="SET" suffixOverrides=",">
            <if test="pendingNo != null">pending_no = #{pendingNo},</if>
            <if test="shortageId != null">shortage_id = #{shortageId},</if>
            <if test="bookId != null">book_id = #{bookId},</if>
            <if test="bookName != null">book_name = #{bookName},</if>
            <if test="isbn != null">isbn = #{isbn},</if>
            <if test="author != null">author = #{author},</if>
            <if test="publisher != null">publisher = #{publisher},</if>
            <if test="price != null">price = #{price},</if>
            <if test="purchaseQuantity != null">purchase_quantity = #{purchaseQuantity},</if>
            <if test="status != null">status = #{status},</if>
            <if test="supplier != null">supplier = #{supplier},</if>
            <if test="expectedDate != null">expected_date = #{expectedDate},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            update_time = sysdate()
        </trim>
        where pending_id = #{pendingId}
    </update>

    <delete id="deleteTbPendingPurchaseByPendingId" parameterType="Long">
        update tb_pending_purchase set del_flag = '1' where pending_id = #{pendingId}
    </delete>

    <delete id="deleteTbPendingPurchaseByPendingIds" parameterType="String">
        update tb_pending_purchase set del_flag = '1' where pending_id in 
        <foreach item="pendingId" collection="array" open="(" separator="," close=")">
            #{pendingId}
        </foreach>
    </delete>
</mapper>
